body {
        font-family:  'Times New Roman', Times, serif;
        line-height: 1.6;
    }


.mosttop {
    background-color: #4CE4D9;
    padding: 2px;
}

.header {
    width: 100%;
    padding: 10px 0;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 50px; 
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin: 0 10px; 
}

.icon {
    font-size: 1.2rem;
    color: #000;
}


.navbar a:hover {
    color: #aaa;
    transition: 0.3s;
}


.name {
    font-size: 3ch;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    flex-grow: 1;
 
}
h1 {
    font-weight: normal;
}

.calendar i {
    margin-right: 10px;
}

.Choice {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-family: 'Calibri';
    flex-wrap: wrap; 
    text-align: center;
}

.Choice a {
    text-decoration: none;
    color: #333;
}

.Choice a:hover {
    color: black;
    border-bottom: 2px solid #4CE4D9;
    font-weight: bold;
}

.Image-text {
    position: relative;
    display: inline-block;
}

.text {
    position: absolute;
    top: 30%;
    left: 55%;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-family: "Calibri", sans-serif;
}

.Contact-time {
    display: flex;
    justify-content: space-between;
    font-family: "Calibri", sans-serif;
    flex-wrap: wrap; }

.timetable {
    margin-right: 9cm;
}

.Contact {
    margin-left: 7cm;
}

.Assist h4 {
    text-align: center;
    font-size: 30px;
}
.picture h4 {
    text-align: center;
    font-size: 30px;
}
.photo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.photo img {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    max-width: 100%;
    height: auto;
}

.photo div {
    text-align: center;
}

.photo p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
}

.picture {
    display: flex;
    gap: 2cm;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.picture img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 630px;
    max-width: 100%;
    height: auto;
}

.picture div {
    text-align: center;
}

.picture p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
}

.zrg p a:hover {
    color: black;
    border-bottom: 2px solid #4CE4D9;
    font-weight: bold;
}

.Questions {
    padding: 50px;
}

.zuraas {
    background-color: #4CE4D9;
    padding: 1px 5px;
}
.Questions h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.zuraas1 {
    background-color: rgb(48, 47, 47);
    padding: 0.1px;
}

.asuult {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Vieww {
    text-align: center;
}

.view {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin: 20px auto;
}

.zuraas2 {
    background-color: #4CE4D9;
    padding: 4px;
}
@media only screen and (min-width:481px)and (min-width:768px){
    #slider-image {max-width: 100%;}
    #flash-ad {display: none;}
    }
@media only screen and (min-width:769px){
        #slider-image {max-width: 100%;}
        #flash-ad {display:none;}
        }     

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.content-leftside, .content-rightside {
flex: 1 1 100%; 
margin: 0; 
}
}